<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1> Welcome to text analyzer. enter your text</h1>
<form action ='/analyze' method = 'get'>
    <textarea name ='search' style='width: 618px; height: 50px;'></textarea><br>
    <input type="checkbox" name = "removepunc"> Remove punctuations <br>
    <input type="checkbox" name = "fullcaps"> Make everything uppercase <br>
    <input type="checkbox" name = "newlineremover"> Remove new line <br>
    <input type="checkbox" name = "spaceremover"> Remove space <br>
    <input type="checkbox" name = "charcounter"> Count charaters <br>
    <button type = 'submit'>Send text button</button><br>
</form>
</body>
</html>
